body {
}
img {
  width: 400px;
  height: 400px;
}
main {
  background-color: rgb(170, 168, 168);
  display: grid;
  gap: 10px;
  grid-template-columns: 20% 1fr 1fr 1fr;
}
#images {
  grid: row start 2px;
}

p {
  grid-column-start: 2;
  grid-column-end: 5;
}

canvas {
  background-color: rgb(214, 210, 210);
  width: 50%;
}
